.venv/
__pycache__/
*.pyc
**__pycache__/
*.pyo
/data/
*.log
*.sqlite
.env
.coverage
htmlcov/
.coveragerc
original_summaries.csv
scripts/manual_migrate.py
scripts/migrate.ps1
scripts/migrate.sh
manual_migrations/0001_initial.sql
manual_migrations/0002_add_item_id_and_indexes.py
manual_migrations/0003_add_save_metadata.sql
migrate.md
new_summaries.csv
.gitignore
v2new_summaries.csv
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace
frontend/node_modules
manual_migrations
scripts/
migrate.md
original_summaries.csv
new_summaries.csv
.gitignore
v2new_summaries.csv
pocket_articles.txt
