version: '3.8'

services:
  redis:
    image: redis:6.2-alpine
    restart: always
    ports:
      - '6379:6379'

  api_gateway:
    build: ./services/api_gateway
    ports:
      - "8000:8000"
    volumes:
      - ./services/api_gateway:/app
    environment:
      - ARCHIVER_URL=http://archiver:8000
      - DATA_URL=http://data:8000
      - STORAGE_URL=http://storage:8000
    env_file:
      - ./services/api_gateway/.env.example

  archiver:
    build: ./services/archiver
    volumes:
      - ./services/archiver:/app
      - ./data:/data
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    env_file:
      - ./services/archiver/.env.example

  summarization:
    build: ./services/summarization
    volumes:
      - ./services/summarization:/app
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DATA_SERVICE_URL=http://data:8000
      - STORAGE_SERVICE_URL=http://storage:8000
    env_file:
      - ./services/summarization/.env.example

  task_manager:
    build: ./services/task_manager
    volumes:
      - ./services/task_manager:/app
    depends_on:
      - redis
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - DATA_SERVICE_URL=http://data:8000
      - STORAGE_SERVICE_URL=http://storage:8000
    env_file:
      - ./services/task_manager/.env.example

  storage:
    build: ./services/storage
    volumes:
      - ./services/storage:/app
      - ./data:/data
    env_file:
      - ./services/storage/.env.example

  data:
    build: ./services/data
    volumes:
      - ./services/data:/app
    depends_on:
      - postgres
    env_file:
      - ./services/data/.env.example

  postgres:
    image: postgres:13-alpine
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=ht-base
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  data:
